
@layer base {
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  
  /* Selection styling */
  ::selection {
    @apply bg-carbon-500 text-carbon-950;
  }
  
  .dark ::selection {
    @apply bg-carbon-400 text-carbon-950;
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
}
